@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Player2";
    src: url("./assets/fonts/PressStart2P-Regular.ttf");
  }

  @layer base {
    html {
      font-family: Player2;
      color: white;
    }
  }


.custom-border {
  @apply border-x-[16px] border-b-[16px] border-primary;
}

@screen sm {
  .custom-border {
    @apply border-x-[32px] border-b-[32px] border-primary;
  }
}

.scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #D74526;
}

/* Webkit-based browsers (Chrome, Safari) */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #D74526;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

